/*================ HEADER ================*/
header h1{
    position: absolute;
    left: 0;
    margin-left: 2em;
    color: var(--secondary_title)
}
nav.navbar{
    margin-top: 20px;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 5em;
    
}
.navbar ul{
    padding-left: 0;
    display: flex;
    list-style-type: none;
    gap:2vi;
    height: 8vh;
    width: 45vi;
    align-items: center;
    justify-content:space-between;
}
.navbar li{
    height: 8vh;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header a{
    color: var(--title_color);
    text-decoration: none;
}
header{
    margin-bottom: 5vi;
}
.contact{
    border: 2px solid var(--title_color);
    padding: 5px;
}